.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.input:focus{
    outline: none;
}