.dropdown {
  margin: 0 auto;
  z-index: 10000;
  width: 300px;
  position: relative;
}
.dropdown,
.dropdown * {
  z-index: 10;
}
.dropdown .dropdownBtn {
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #777;
  font-weight: 500;
}
.dropdownContent {
  position: absolute;
  /* top: 110%; */
  left: 0;
  width: 100%;
}
.dropdownContent .item {
  padding: 10px;
  cursor: pointer;
}
.dropdownContent .item:hover {
  background: #fcfcfc;
}
